<link rel="stylesheet" href="/static/stylesheets/footer.css" />
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footerColumn">
        <h4>επιβλέπων καθηγητής</h4>
        <ul>
          <li>
            <a
              href="https://www.csd.auth.gr/member/politis-dionisios/"
              target="_blank"
              rel="noopener noreferrer"
              >Πολίτης Διονύσιος</a
            >
          </li>
          <li></li>
          <li>
            <a
              href="https://www.csd.auth.gr/member/politis-dionisios/"
              target="_blank"
              rel="noopener noreferrer"
              >Επίκουρος Καθηγητής</a
            >
          </li>
          <li>
            <a
              href="https://www.csd.auth.gr/"
              target="_blank"
              rel="noopener noreferrer"
              >Τμήμα Πληροφορικής, Α.Π.Θ</a
            >
          </li>
          <li>
            <a
              href="https://dipolitis.github.io"
              target="_blank"
              rel="noopener noreferrer"
              >Προσωπική Ιστοσελίδα</a
            >
          </li>
        </ul>
      </div>
      <div class="footerColumn">
        <h4>σπουδαστής</h4>
        <ul>
          <li><a href="#">Ηλιάδης Τριαντάφυλλος</a></li>
          <li>
            <a
              href="https://www.csd.auth.gr/students/student-union/"
              target="_blank"
              rel="noopener noreferrer"
              >Προπτυχιακός Φοιτητής</a
            >
          </li>
          <li>
            <a
              href="https://www.csd.auth.gr/"
              target="_blank"
              rel="noopener noreferrer"
              >Τμήμα Πληροφορικής, Α.Π.Θ</a
            >
          </li>
        </ul>
      </div>
      <div class="footerColumn">
        <h4>πτυχιακή εργασία</h4>
        <ul>
          <li><a href="/">ΥΠΗΡΕΣΙΕΣ JOURNALING ΣΤΗΝ ΤΗΛΕΜΑΘΗΣΗ</a></li>
        </ul>
      </div>
      <div class="footerColumn">
        <h4>social media</h4>
        <ul id="TB911-SNS">
          <li>
            <a href="https://www.facebook.com/triantafillos.iliadis" class="icon fb"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://twitter.com/daxakaTI" class="icon twit"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="google.com"
              class="icon google"
              >Google+</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/triantafyllos-iliadis-b4b9b7234/"
              class="icon linked"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="http://www.youtube.com"
              class="icon ytube"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
    <div class="text-center">
      <% const year = new Date().getFullYear(); %> <% const month = new
      Date().toLocaleString('default', { month: 'long' }) %>
      <small class="text-muted"
        >&copy; Copyright <%= month %> <%= year %> , CSD AUTH</small
      >
    </div>
  </div>
</footer>
