<nav class="navbar navbar-expand-lg navbar-dark dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        class="books"
        src="/static/logos/books.gif"
        alt=""
        width="35"
        height="30"
        class="d-inline-block align-text-top"
      />
      Εκπαιδευτική Πλατφόρμα
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav nav-masthead justify-content-center float-md-end" id="navbarTogglerDemo01">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-1 d-flex ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Αρχική Σελίδα</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= topic === "Μαθήματα" ? 'active' : ''%> " href="/courses">Μαθήματα</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= topic == "Πληροφορίες" ? 'active' : ''%>" href="/about">Πληροφορίες</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= topic === "Σύνδεση" ? 'active' : ''%>" href="/login">Σύνδεση</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= topic === "Εγγραφή" ? 'active' : ''%>" href="/register">Εγγραφή</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Έξοδος</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
