<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/static/stylesheets/show.css" />
<div className="article-body ">
  <header
    style="
      background-image: url('<%= course.images.url %>');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <h1 class="mx-auto imgTitle my-5"><%= course.title %></h1>
  </header>
  <main class="main">
    <div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quibusdam
        corporis voluptate! Esse reprehenderit, facilis optio commodi tempore
        explicabo voluptatem quia quasi ratione architecto error. Placeat cum
        hic consequuntur temporibus! A ullam dolore nobis ex repellendus facere
        minima non vel labore. Animi quod eaque repudiandae fugiat obcaecati,
        veniam sunt fuga illo id. Nam itaque perspiciatis necessitatibus
        deserunt atque excepturi eius! Deleniti, fugiat dolor exercitationem
        obcaecati recusandae corrupti vitae quia rerum tempore, voluptatem ad
        natus eveniet! Cupiditate ut rerum recusandae error nulla ad! Iste
        debitis pariatur sed possimus inventore nobis minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quibusdam
        corporis voluptate! Esse reprehenderit, facilis optio commodi tempore
        explicabo voluptatem quia quasi ratione architecto error. Placeat cum
        hic consequuntur temporibus! A ullam dolore nobis ex repellendus facere
        minima non vel labore. Animi quod eaque repudiandae fugiat obcaecati,
        veniam sunt fuga illo id. Nam itaque perspiciatis necessitatibus
        deserunt atque excepturi eius! Deleniti, fugiat dolor exercitationem
        obcaecati recusandae corrupti vitae quia rerum tempore, voluptatem ad
        natus eveniet! Cupiditate ut rerum recusandae error nulla ad! Iste
        debitis pariatur sed possimus inventore nobis minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quibusdam
        corporis voluptate! Esse reprehenderit, facilis optio commodi tempore
        explicabo voluptatem quia quasi ratione architecto error. Placeat cum
        hic consequuntur temporibus! A ullam dolore nobis ex repellendus facere
        minima non vel labore. Animi quod eaque repudiandae fugiat obcaecati,
        veniam sunt fuga illo id. Nam itaque perspiciatis necessitatibus
        deserunt atque excepturi eius! Deleniti, fugiat dolor exercitationem
        obcaecati recusandae corrupti vitae quia rerum tempore, voluptatem ad
        natus eveniet! Cupiditate ut rerum recusandae error nulla ad! Iste
        debitis pariatur sed possimus inventore nobis minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quibusdam
        corporis voluptate! Esse reprehenderit, facilis optio commodi tempore
        explicabo voluptatem quia quasi ratione architecto error. Placeat cum
        hic consequuntur temporibus! A ullam dolore nobis ex repellendus facere
        minima non vel labore. Animi quod eaque repudiandae fugiat obcaecati,
        veniam sunt fuga illo id. Nam itaque perspiciatis necessitatibus
        deserunt atque excepturi eius! Deleniti, fugiat dolor exercitationem
        obcaecati recusandae corrupti vitae quia rerum tempore, voluptatem ad
        natus eveniet! Cupiditate ut rerum recusandae error nulla ad! Iste
        debitis pariatur sed possimus inventore nobis minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quibusdam
        corporis voluptate! Esse reprehenderit, facilis optio commodi tempore
        explicabo voluptatem quia quasi ratione architecto error. Placeat cum
        hic consequuntur temporibus! A ullam dolore nobis ex repellendus facere
        minima non vel labore. Animi quod eaque repudiandae fugiat obcaecati,
        veniam sunt fuga illo id. Nam itaque perspiciatis necessitatibus
        deserunt atque excepturi eius! Deleniti, fugiat dolor exercitationem
        obcaecati recusandae corrupti vitae quia rerum tempore, voluptatem ad
        natus eveniet! Cupiditate ut rerum recusandae error nulla ad! Iste
        debitis pariatur sed possimus inventore nobis minima.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quibusdam
        corporis voluptate! Esse reprehenderit, facilis optio commodi tempore
        explicabo voluptatem quia quasi ratione architecto error. Placeat cum
        hic consequuntur temporibus! A ullam dolore nobis ex repellendus facere
        minima non vel labore. Animi quod eaque repudiandae fugiat obcaecati,
        veniam sunt fuga illo id. Nam itaque perspiciatis necessitatibus
        deserunt atque excepturi eius! Deleniti, fugiat dolor exercitationem
        obcaecati recusandae corrupti vitae quia rerum tempore, voluptatem ad
        natus eveniet! Cupiditate ut rerum recusandae error nulla ad! Iste
        debitis pariatur sed possimus inventore nobis minima.
      </p>
    </div>
  </main>
</div>
