<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="static/stylesheets/contact.css" />
<h1 class="h1 text-center h1Title">Επικοινωνια</h1>
<section class="contact">
  <div class="contactBox">
    <div class="contactLinks">
      <div class="links">
        <div class="link">
          <a
            href="https://www.linkedin.com/in/triantafyllos-iliadis-b4b9b7234/"
          >
            <img
              class="contactImg"
              src="static/logos/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://github.com/TrIliadis/Educational-Application-Thesis">
            <img
              class="contactImg"
              src="static/logos/github.png"
              alt="github"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://www.facebook.com/triantafillos.iliadis">
            <img
              class="contactImg"
              src="static/logos/facebook.png"
              alt="facebook"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://twitter.com/daxakaTI">
            <img
              class="contactImg"
              src="static/logos/twitter.png"
              alt="twitter"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="form-body contactForm">
      <form id="contactForm" class="needs-validation" novalidate>
        <div class="formLabel my-4">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
          />
          <label for="name" class="labelPosition form-label"> Όνομα: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το όνομά σας</b>
          </div>
        </div>
        <div class="formLabel my-4">
          <input
            type="email"
            class="form-control contact"
            name="email"
            id="email"
            required
          />
          <label for="email" class="labelPosition form-label"> Email: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε ένα έγκυρο email</b>
          </div>
        </div>
        <div class="formLabel">
          <textarea
            rows="4"
            cols="50"
            class="form-control"
            name="message"
            id="message"
            required
          ></textarea>
          <label class="labelPosition form-label" for="message">
            Μήνυμα:
          </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το μήνυμα που θέλετε να λάβουμε</b>
          </div>
        </div>
        <button id="contactButton" class="submitBtn mt-4" type="submit">
          Αποστολή
        </button>
      </form>
    </div>
  </div>
</section>

<h1 class="h1 text-center h1Title">Η ομαδα μας</h1>

<div class="teamCards my-5">
  <div class="teamCard teamCard1">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard2">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard3">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
</div>
<div class="teamCards my-5">
  <div class="teamCard teamCard4">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard5">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard6">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
</div>
<script src="static/javascripts/contact.js"></script>
