<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="static/stylesheets/contact.css" />
<h1 class="h1 text-center h1Title">Επικοινωνια</h1>

<!-- hidden flash messsage after successfully sending mail -->
<div id="hiddenSuccess" class="hidden">
  <div class="container mt-5" style="max-width: 800px">
    <!-- bootstrap success alert -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
        />
      </symbol>
    </svg>
    <div
      class="alert alert-success alert-dismissible fade show d-flex align-items-center"
      role="alert"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Success:"
      >
        <use xlink:href="#check-circle-fill" />
      </svg>
      <div>
        Το μήνυμα στάλθηκε! Θα επικοινωνήσουμε μαζί σας όσο το δυνατόν
        συντομότερα.
      </div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<!-- hidden flash messsage after failing to send mail -->
<div id="hiddenError" class="hidden">
  <div class="container mt-5" style="max-width: 800px">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol
        id="exclamation-triangle-fill"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </symbol>
    </svg>

    <div
      class="alert alert-danger alert-dismissible fade show d-flex align-items-center"
      role="alert"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Success:"
      >
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>
      <div>Υπήρξε κάποιο πρόβλημα, παρακαλώ προσπαθήστε αργότερα</div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<section class="contact">
  <div class="contactBox">
    <div class="contactLinks">
      <div class="links">
        <div class="link">
          <a
            href="https://www.linkedin.com/in/triantafyllos-iliadis-b4b9b7234/"
          >
            <img
              class="contactImg"
              src="static/logos/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://github.com/TrIliadis/Educational-Application-Thesis">
            <img
              class="contactImg"
              src="static/logos/github.png"
              alt="github"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://www.facebook.com/triantafillos.iliadis">
            <img
              class="contactImg"
              src="static/logos/facebook.png"
              alt="facebook"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://twitter.com/daxakaTI">
            <img
              class="contactImg"
              src="static/logos/twitter.png"
              alt="twitter"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="form-body contactForm">
      <form id="contactForm" class="needs-validation" novalidate>
        <div class="formLabel my-4">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
          />
          <label for="name" class="labelPosition form-label"> Όνομα: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το όνομά σας</b>
          </div>
        </div>
        <div class="formLabel my-4">
          <input
            type="email"
            class="form-control contact"
            name="email"
            id="email"
            required
          />
          <label for="email" class="labelPosition form-label"> Email: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε ένα έγκυρο email</b>
          </div>
        </div>
        <div class="formLabel">
          <textarea
            rows="4"
            cols="50"
            class="form-control"
            name="message"
            id="message"
            required
          ></textarea>
          <label class="labelPosition form-label" for="message">
            Μήνυμα:
          </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το μήνυμα που θέλετε να λάβουμε</b>
          </div>
        </div>
        <button id="contactButton" class="submitBtn mt-4" type="submit">
          Αποστολή
        </button>
      </form>
    </div>
  </div>
</section>

<h1 class="h1 text-center h1Title">Η ομαδα μας</h1>

<div class="teamCards my-5">
  <div class="teamCard teamCard1">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard2">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard3">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
</div>
<div class="teamCards my-5">
  <div class="teamCard teamCard4">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard5">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
  <div class="teamCard teamCard6">
    <h2 class="teamCardTitle">John Doe</h2>
    <div class="icons">
      <a
        title="Instagram"
        class="fa fa-instagram"
        href="https://www.instagram.com"
      ></a>
      <a title="Github" class="fa fa-github" href="https://www.github.com"></a>
      <a
        title="Facebook"
        class="fa fa-facebook"
        href="https://www.facebook.com"
      ></a>
      <a
        title="Twitter"
        class="fa fa-twitter"
        href="https://www.twitter.com"
      ></a>
    </div>
  </div>
</div>
<script src="static/javascripts/contact.js"></script>
