<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/static/stylesheets/error.css" />

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="center">
        <h2 class="h1Title">Σφαλμα</h2>

        <img
          class="errorImg"
          src="https://res.cloudinary.com/dgzlym20q/image/upload/v1654621732/makeItGreen/photo-1452421822248-d4c2b47f0c81_s9leub.jpg"
        />
        <div class="centerText my-5 text">
          <p><%=err.message%></p>
          <% if (process.env.NODE_ENV !== "production") { %>
          <p><%= err.stack %></p>
          <% } %>
          <p>
            Λυπούμαστε, παρουσιάστηκε σφάλμα, η σελίδα που ζητήσατε δεν βρέθηκε!
          </p>
          <button class="btnGlow" type="button" onclick="location.href='/';">
            Αρχική Σελίδα
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
