<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/static/stylesheets/error.css" />

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="center-error">
        <img
          class="img-error"
          src="https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
        />
        <div class="center-error-text my-5 text">
          <h2>Σφάλμα</h2>
          <p>
            Λυπούμαστε, παρουσιάστηκε σφάλμα, η σελίδα που ζητήσατε δεν βρέθηκε!
          </p>
          <button class="btn-glow" type="button" onclick="location.href='/';">
            Αρχική Σελίδα
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
