/* page background */
.bgDark {
  background: #110f16;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* all courses title */
.h1Title {
  color: white;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 50px;
}

/* course card */
.card {
  border-radius: 10px;
  margin: 0 0 2vw 0;
  overflow: hidden;
  color: white;
}

.card.bg {
  background-color: #17141e;
}

.card a {
  color: inherit;
}

/* course card image */
.card .cardImg {
  object-fit: cover;
}

.card .cardImgLink {
  display: contents;
}

/* course card coloured line */
.card .cardUnderline {
  width: 60px;
  height: 10px;
  margin: 13px 0;
  border-radius: 10px;
  transition: 0.3s ease;
}

.card:hover .cardUnderline {
  width: 150px;
}

/* course card text content */
.card .cardContent {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card .cardDescription {
  text-align: justify;
  height: 100%;
}

/* course crud */
.card .cardCrud {
  flex-flow: row wrap;
  font-size: 13px;
  margin-top: 20px;
  padding: 0;
}

/* crud icons */
.card .cardCrud .cardCrudIcon {
  display: inline-block;
  background: rgba(76, 76, 76, 0.4);
  border-radius: 5px;
  padding: 2.5px 10px;
  transition: background-color 0.5s;
}

/* course card background color */
.card:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

/* green course card */
.card .cardCrud .greenCard.play:hover {
  background: SeaGreen;
}

.greenCard .cardTitle:hover {
  color: SeaGreen;
}

.greenCard .cardUnderline {
  background-color: SeaGreen;
}

/* blue course card */
.card .cardCrud .blueCard.play:hover {
  background: RoyalBlue;
}

.blueCard .cardTitle:hover {
  color: RoyalBlue;
}

.blueCard .cardUnderline {
  background-color: RoyalBlue;
}

/* red course card */
.card .cardCrud .redCard.play:hover {
  background: Red;
}

.redCard .cardTitle:hover {
  color: Red;
}

.redCard .cardUnderline {
  background-color: Red;
}

/* yellow course card */
.card .cardCrud .yellowCard.play:hover {
  background: rgb(150, 150, 26);
}

.yellowCard .cardTitle:hover {
  color: rgb(150, 150, 26);
}

.yellowCard .cardUnderline {
  background-color: rgb(150, 150, 26);
}

@media screen and (min-width: 836px) {
  .card .cardTitle {
    font-size: 2rem;
  }

  .card .cardContent {
    padding: 2rem;
  }

  .card .cardImg {
    max-width: 300px;
    transition: transform 0.3s ease;
  }

  .card .cardContent {
    padding: 3rem;
  }

  .card:hover .cardImg {
    transform: scale(1.1);
  }

  .card:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }

  .card:nth-child(2n + 1) {
    flex-direction: row;
  }

  .card:nth-child(2n + 0) .cardContent::before {
    right: -11px;
    transform: rotate(-4deg);
  }

  .card:nth-child(2n + 1) .cardContent::before {
    left: -11px;
    transform: rotate(4deg);
  }
}

@media screen and (min-width: 1024px) {
  .cardContent:before {
    content: "";
    position: absolute;
    top: -28%;
    height: 129%;
    width: 50px;
  }

  .card.bg .cardContent:before {
    background: #17141e;
  }
}

@media screen and (min-width: 414px) {
  .redCard::before {
    background-image: linear-gradient(
      -110deg,
      rgba(185, 22, 13, 0.2),
      transparent 60%
    );
  }

  .blueCard:nth-child(2n)::before {
    background-image: linear-gradient(
      110deg,
      rgba(4, 114, 183, 0.2),
      transparent 60%
    );
  }

  .greenCard::before {
    background-image: linear-gradient(
      -110deg,
      rgba(110, 195, 14, 0.2),
      transparent 60%
    );
  }

  .yellowCard:nth-child(2n)::before {
    background-image: linear-gradient(
      110deg,
      rgba(178, 176, 67, 0.2),
      transparent 60%
    );
  }
}
