body {
  height: 110vh;
}

.coverContainer {
  position: relative;
  max-width: 85vw;
}

/* book logo */
.books {
  margin-right: 1vw;
}

/* home video */
#myVideo {
  filter: brightness(60%);
  position: fixed;
}

/* pause/resume video button */
.pauseBtn {
  width: 180px;
  font-size: 18px;
  padding: 10px;
  background: black;
  color: white;
}

.pauseBtn:hover {
  background: white;
  color: black;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px;
  z-index: 2;
}

/* navbar */
.navbarLink {
  padding: 0.4vh;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1vw;
  border-bottom: 0.25rem solid transparent;
  text-decoration: none;
}

.navbarLink:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.navbarLink.active {
  color: white;
  border-bottom-color: white;
}

/* view all courses button */
.btnGlow {
  width: 220px;
  height: 50px;
  border: none;
  color: white;
  background: black;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btnGlow:before {
  content: "";
  background: linear-gradient(
    45deg,
    Chartreuse,
    DarkMagenta,
    DarkOrange,
    Gold,
    FireBrick,
    Navy,
    Chartreuse
  );
  position: absolute;
  top: -3px;
  left: -3px;
  background-size: 500%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  animation: glowing 15s infinite;
}

.btnGlow:hover:before {
  opacity: 1;
}

.btnGlow:active {
  font-weight: bold;
}

.btnGlow:active:after {
  background: transparent;
}

.btnGlow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(26, 25, 25);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
