.books {
  margin-left: 3rem;
  margin-right: 0.3rem;
}

.bgDark {
  background: #110f16;
}

.navLink {
  padding: 0.25rem 0;
  font-weight: 700;
  margin-left: 0.7rem;
  border-bottom: 0.25rem solid transparent;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.navLink:hover {
  position: relative;
  color: white;
}

.navLink.active {
  border-bottom-color: white;
  color: white;
}

.pointer {
  cursor: pointer;
}
