<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="static/stylesheets/register.css" />

<section class="contact">
  <div class="contact-box">
    <div class="contact-links">
      <div class="links">
        <div class="link">
          <a
            href="https://www.linkedin.com/in/triantafyllos-iliadis-b4b9b7234/"
          >
            <img
              class="contactImg"
              src="static/logos/linkedin.png"
              alt="linkedin"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://github.com/TrIliadis/Educational-Application-Thesis">
            <img
              class="contactImg"
              src="static/logos/github.png"
              alt="github"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://www.facebook.com/triantafillos.iliadis">
            <img
              class="contactImg"
              src="static/logos/facebook.png"
              alt="facebook"
            />
          </a>
        </div>
        <div class="link">
          <a href="https://twitter.com/daxakaTI">
            <img
              class="contactImg"
              src="static/logos/twitter.png"
              alt="twitter"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="form-body contact-form-wrapper">
      <form
        action="/contact"
        method="POST"
        class="contact-form needs-validation"
        novalidate
      >
        <div class="form-item my-4">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
          />
          <label for="name" class="label-item form-label"> Όνομα: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το όνομά σας</b>
          </div>
        </div>
        <div class="form-item my-4">
          <input
            type="email"
            class="form-control contact"
            name="email"
            id="email"
            required
          />
          <label for="email" class="label-item form-label"> Email: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το email σας</b>
          </div>
        </div>
        <div class="form-item">
          <textarea
            class="form-control"
            name="message"
            id="message"
            required
          ></textarea>
          <label class="label-item form-label" for="message"> Μήνυμα: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε το μήνυμα που θέλετε να λάβουμε</b>
          </div>
        </div>
        <button class="submit-btn mt-4" type="submit">Αποστολή</button>
      </form>
    </div>
  </div>
</section>
