<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="static/stylesheets/register.css" />
<h1 class="h1 text-center h1Title">Εγγραφη</h1>
<section class="contact">
  <div class="contactBox">
    <div class="contactLinks"></div>
    <div class="form-body contactForm">
      <form id="registerForm" class="needs-validation" novalidate>
        <div class="formLabel mb-4">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            required
          />
          <label for="name" class="labelPosition form-label"> Όνομα: </label>
          <div class="invalid-feedback">
            <b>Το όνομα δεν μπορεί να είναι κενό</b>
          </div>
        </div>
        <div class="formLabel my-4">
          <input
            type="text"
            class="form-control"
            name="surname"
            id="surname"
            required
          />
          <label for="surname" class="labelPosition form-label">
            Επώνυμο:
          </label>
          <div class="invalid-feedback">
            <b>Το επώνυμο δεν μπορεί να είναι κενό</b>
          </div>
        </div>
        <div class="formLabel my-4">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required
          />
          <label for="email" class="labelPosition form-label"> Email: </label>
          <div class="invalid-feedback">
            <b>Παρακαλώ συμπληρώστε ένα έγκυρο email</b>
          </div>
        </div>
        <div class="formLabel my-4">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
          <label for="password" class="labelPosition form-label">
            Κωδικός:
          </label>
          <div class="invalid-feedback">
            <b
              >Ο κωδικός πρέπει έχει τουλάχιστον 5 χαρακτήρες συμπεριλαμβάνοντας
              1 αριθμό</b
            >
          </div>
        </div>
        <div class="formLabel my-4">
          <input
            type="password"
            class="form-control"
            name="validatePassword"
            id="validatePassword"
            required
          />
          <label for="validatePassword" class="labelPosition form-label">
            Επανάληψη Κωδικού:
          </label>
          <div class="invalid-feedback">
            <b>Οι κωδικοί δεν ταιριάζουν</b>
          </div>
        </div>
        <div class="card-body text-center">
          <img
            id="profileImg"
            class="imgProfile circle mb-3"
            src="https://res.cloudinary.com/dgzlym20q/image/upload/v1654529943/makeItGreen/avatar7_zzez7a.png"
          />
          <div class="small font-italic text-muted mb-4">
            Μέγιστο μέγεθος 2MB
          </div>
          <input
            accept="image/*"
            type="file"
            name="image"
            id="imgInput"
            class="fileInput"
          />
          <label class="fileInputLabel" for="imgInput"
            ><span>Ανεβάστε μια εικόνα</span></label
          >
        </div>
        <button id="registerButton" class="submitBtn mt-4" type="submit">
          Αποστολή
        </button>
      </form>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="static/javascripts/register.js"></script>
